# Other files
Project1.pdf
Project2.pdf
*.cbp

# Executables
inverted_google
run_tests

# CMake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
cmake-build-debug/
cmake-build-release/

# Catch2
DartConfiguration.tcl
vgcore.*
run_tests_*

.cache
.clang-tidy
.clang-format
.vscode
build/*
build-release/*
.cmake/
.github
.idea/